.ImageContainer {
  display: flex;
  justify-content: center;
}

.Logo {
  width: 100px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .LogoAnimation {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
